<!-- START HEAD -->
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport" />

    <title>DNM | Zip your mind</title>

    <link rel="alternate" hreflang="el" href="https://www.dnm.gr/"/>
    <link rel="alternate" hreflang="en-US" href="https://www.dnm.gr/en/"/>

    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>

    <link rel="canonical" href="/{{ page.url }}/"/>
    <link rel='shortlink' href='/{{ page.url }}/'/>

     <link rel="shortcut icon"
          type="image/x-icon"
          href="/assets/img/favicon.png"/>
    <link rel="icon"
          type="image/x-icon"
          href="/assets/img/favicon.png"/>


    <!-- ================== BEGIN core-css ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400|Pacifico:400|Average:400|Open+Sans:400|Raleway:400|Bebas:400&subset=latin"
          type="text/css"/>
    <link href="/assets/css/e-commerce/vendor.min.css"
          rel="stylesheet" />
    <link href="/assets/css/e-commerce/app.min.css"
          rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    {% include analytics.html %}
</head>
<!-- END HEAD -->
