    <!-- BEGIN #header -->
    <div id="header" class="header" data-fixed-top="true">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN header-container -->
            <div class="header-container justify-content-between">
                <!-- BEGIN navbar-toggle -->
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- END navbar-toggle -->
                <!-- BEGIN header-logo -->
                <div class="header-logo">
                    <a href="/{{ page.language }}/">
                        <img src="/assets/img/logo-2f.webp"
                             data-at2x="/assets/img/logo-342x197.webp"
                             title="DNM"
                             alt="DNM">
                    </a>
                </div>
                <!-- END header-logo -->

                <!-- BEGIN header-nav -->
                <div class="header-nav">
                    <div class="collapse navbar-collapse"
                         id="navbar-collapse">
                        <ul class="nav justify-content-end">
                            {% for menu in site.data.menu %}
                            {% if menu.children %}
                            <li class="nav-item dropdown dropdown-mobile">
                                <a class="nav-link dropdown-toggle"
                                   href="/{{ page.language }}/{{ menu.url }}"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{ site.data.translations[page.language][menu.name] }}
                                    <b class="caret"></b>
                                    <span class="arrow top"></span>
                                </a>
                                <div class="dropdown-menu"
                                     aria-labelledby="dropdownMenuButton">
                                    {% assign submenu = menu.children %}
                                    {% for submenu in submenu %}
                                    {% if submenu.children %}
                                    <div class="dropdown dropend">
                                        <a class="dropdown-item dropdown-toggle"
                                           href="/{{ page.language }}/{{ submenu.url }}"
                                           data-bs-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            {{ site.data.translations[page.language][submenu.name] }}
                                             <i class="fa fa-fw fa-angle-right text-muted"></i>
                                        </a>
                                        <div class="dropdown-menu"
                                             aria-labelledby="dropdown-layouts">
                                            {% assign subsubmenu = submenu.children %}
                                            {% for subsubmenu in subsubmenu %}
                                            <a class="dropdown-item"
                                               href="/{{ page.language }}/{{ subsubmenu.url }}">
                                                {{ site.data.translations[page.language][subsubmenu.name] }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <a class="dropdown-item"
                                       href="/{{ page.language }}/{{ submenu.name }}">
                                        {{ site.data.translations[page.language][submenu.name] }}
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="dropdown-hover-all dropdown-desktop">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       id="dropdownMenuButtonHover"
                                       data-bs-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       href="{{ menu.url }}">
                                        {{ site.data.translations[page.language][menu.name] }}
                                        <b class="caret"></b>
                                        <span class="arrow top"></span>
                                    </a>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButtonHover">
                                        {% assign submenu = menu.children %}
                                        {% for submenu in submenu %}
                                        {% if submenu.children %}
                                        <div class="dropdown dropend">
                                            <a class="dropdown-item dropdown-toggle"
                                               href="/{{ page.language }}/{{ submenu.url }}"
                                               data-bs-toggle="dropdown"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                {{ site.data.translations[page.language][submenu.name] }}
                                                <i class="fa fa-fw fa-angle-right text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu"
                                                 aria-labelledby="dropdown-layouts">
                                                {% assign subsubmenu = submenu.children %}
                                                {% for subsubmenu in subsubmenu %}
                                                <a class="dropdown-item"
                                                   href="/{{ page.language }}/{{ subsubmenu.url }}">
                                                    {{ site.data.translations[page.language][subsubmenu.name] }}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <a class="dropdown-item"
                                           href="/{{ page.language }}/{{ submenu.url }}">
                                            {{ site.data.translations[page.language][submenu.name] }}
                                        </a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item active">
                                <a class="nav-link"
                                   href="/{{ page.language }}/{{ menu.url }}" >
                                    {{ site.data.translations[page.language][menu.name] }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- END header-nav -->
            </div>
            <!-- END header-container -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #header -->
