<!-- START HEAD -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        DNM | Zip your mind
    </title>

    <link rel="alternate" hreflang="el" href="https://www.dnm.gr/"/>
    <link rel="alternate" hreflang="en-US" href="https://www.dnm.gr/en/"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="canonical" href="{{ page.url }}" />
    <link rel='shortlink' href='{{ page.url }}' />

     <link rel="shortcut icon"
          type="image/x-icon"
          href="/assets/img/favicon.png"/>
    <link rel="icon"
          type="image/x-icon"
          href="/assets/img/favicon.png"/>

    <!-- ================== BEGIN core-css ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&family=Noto+Sans&display=swap"
          rel="stylesheet">
    <link href="/assets/css/e-commerce/vendor.min.css"
          rel="stylesheet" />
    <link href="/assets/css/e-commerce/app.min.css"
          rel="stylesheet" />
    <link href="/css/style.css"
          rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    {% include analytics.html %}
</head>
<!-- END HEAD -->
