                <!-- START NAVIGATION -->
                <div id="nav">
                    <ul id="menu-main-menu_gr" class="level-1 group">
                        <li id="menu-item-68"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-46 current_page_item menu-item-children-0">
                            <a href="/{{ page.language }}/">
                                ΑΡΧΙΚΗ
                            </a>
                        </li>
                        <li id="menu-item-72"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-5">
                            <a href="/{{ page.language }}/zippers/">
                                ΦΕΡΜΟΥΑΡ
                            </a>
                            <div class="submenu group">
                                <ul class="sub-menu group">
                                    <li id="menu-item-77"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-3">
                                        <a href="/{{ page.language }}/zippers/nylon/">
                                            NYLON
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-160"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="/{{ page.language }}/zippers/nylon/no3/">
                                                        Νο3
                                                    </a>
                                                </li>
                                                <li id="menu-item-161"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="/{{ page.language }}/zippers/nylon/no5/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-162"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="/{{ page.language }}/zippers/nylon/no10/">
                                                        Νο10
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-78"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-3">
                                        <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BA%CE%BF%CE%BA%CE%BA%CE%AC%CE%BB%CE%B9%CE%BD%CE%B1/">
                                            ΚΟΚΚΑΛΙΝΑ
                                        </a>
                                        <div class="submenu group">

                                            <ul class="sub-menu group">
                                                <li id="menu-item-163"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="product-category/φερμουάρ/κοκάλινα/νο3-κοκάλινα/index.html">
                                                        Νο3
                                                    </a>
                                                </li>
                                                <li id="menu-item-164"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="product-category/φερμουάρ/κοκάλινα/νο8/index.html">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-165"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="product-category/φερμουάρ/κοκάλινα/νο8-κοκάλινα/index.html">
                                                        Νο8
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-79"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-4">
                                        <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/">
                                            ΜΕΤΑΛΛΙΚΑ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-166"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/%CF%87%CF%81%CF%85%CF%83%CF%8C-%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/">
                                                        Χρυσό
                                                    </a>
                                                </li>
                                                <li id="menu-item-167"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/black_nickel-%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/">
                                                        Black
                                                        Nickel
                                                    </a>
                                                </li>
                                                <li id="menu-item-168"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB-%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/">Αλουμίνιο
                                                        Νίκελ
                                                    </a>
                                                </li>
                                                <li id="menu-item-169"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD-%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC/">Μπρονζέ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-80"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-3">
                                        <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/">
                                            ΕΙΔΙΚΟΙ
                                            ΤΥΠΟΙ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-170"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB-%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/">
                                                        Σπιράλ
                                                    </a>
                                                </li>
                                                <li id="menu-item-171"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/%CE%BA%CE%BF%CE%BA%CE%BA%CE%AC%CE%BB%CE%B9%CE%BD%CE%B1-%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/">
                                                        Κοκκάλινα
                                                    </a>
                                                </li>
                                                <li id="menu-item-172"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/%CE%BC%CE%B5%CF%84%CE%B1%CE%BB%CE%BB%CE%B9%CE%BA%CE%AC-%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF_%CF%84%CF%8D%CF%80%CE%BF%CE%B9/">
                                                        Μεταλλικά
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-284"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-3">
                                        <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/">
                                            ΤΑΙΝΙΕΣ
                                            ΜΕΤΡΟΥ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-285"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/%CE%BD%CE%BF3-%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/">
                                                        Νο3
                                                    </a>
                                                </li>
                                                <li id="menu-item-286"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/%CE%BD%CE%BF5-%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-287"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CF%86%CE%B5%CF%81%CE%BC%CE%BF%CF%85%CE%AC%CF%81/%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/%CE%BD%CE%BF8-10-%CF%84%CE%B1%CE%B9%CE%BD%CE%B9%CE%B5%CF%82-%CE%BC%CE%B5%CF%84%CF%81%CE%BF%CF%85/">
                                                        Νο8-10
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="menu-item-73"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-8">
                            <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/">
                                ΟΔΗΓΟΙ
                            </a>
                            <div class="submenu group">
                                <ul class="sub-menu group">
                                    <li id="menu-item-85"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-4">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/">
                                            ΣΠΙΡΑΛ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-236"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/%CE%BD%CE%BF3-%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/">
                                                        Νο3
                                                    </a>
                                                </li>
                                                <li id="menu-item-237"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/%CE%BD%CE%BF4-%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/">
                                                        Νο4
                                                    </a>
                                                </li>
                                                <li id="menu-item-238"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/%CE%BD%CE%BF5-%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-239"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/%CE%BD%CE%BF10-%CF%83%CF%80%CE%B9%CF%81%CE%AC%CE%BB/">
                                                        Νο10
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-86"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%BA%CE%BF%CE%BA%CE%AC%CE%BB%CE%B9%CE%BD%CE%B1-%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/">
                                            ΚΟΚΚΑΛΙΝΑ
                                        </a>
                                    </li>
                                    <li id="menu-item-87"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-2">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB/">
                                            ΑΛΟΥΜΙΝΙΟ-ΝΙΚΕΛ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-240"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB/%CE%BD%CE%BF5-%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-241"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB/%CE%BD%CE%BF8-%CE%B1%CE%BB%CE%BF%CF%85%CE%BC%CE%AF%CE%BD%CE%B9%CE%BF-%CE%BD%CE%AF%CE%BA%CE%B5%CE%BB/">
                                                        Νο8
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-88"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CF%87%CF%81%CF%85%CF%83%CF%8C/">
                                            ΧΡΥΣΟ
                                        </a>
                                    </li>
                                    <li id="menu-item-89"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-2">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD/">
                                            ΜΠΡΟΝΖΕ
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-242"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD/%CE%BD%CE%BF5-%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-243"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD/%CE%BD%CE%BF8-%CE%BC%CF%80%CF%81%CE%BF%CE%BD%CE%B6%CE%AD/">
                                                        Νο8
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-90"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-children-2">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/black_nickel/">
                                            BLACK
                                            NICKEL
                                        </a>
                                        <div class="submenu group">
                                            <ul class="sub-menu group">
                                                <li id="menu-item-244"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/black_nickel/%CE%BD%CE%BF5-black_nickel/">
                                                        Νο5
                                                    </a>
                                                </li>
                                                <li id="menu-item-245"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                                    <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/black_nickel/%CE%BD%CE%BF8-black_nickel/">
                                                        Νο8
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="menu-item-91"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/puller/">
                                            PULLER
                                        </a>
                                    </li>
                                    <li id="menu-item-288"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                                        <a href="http://www.dnm.gr/product-category/%CE%BF%CE%B4%CE%B7%CE%B3%CE%BF%CE%AF/%CE%B5%CE%B9%CE%B4%CE%B9%CE%BA%CE%AC-brands/">
                                            ΕΙΔΙΚΑ
                                            BRANDS
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li id="menu-item-74"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0">
                            <a href="http://www.dnm.gr/velcro/">
                                VELCRO
                            </a>
                        </li>
                        <li id="menu-item-69"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0">
                            <a href="index.html%3Fp=22.html">
                                ΕΠΙΚΟΙΝΩΝΙΑ
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END NAVIGATION -->
