    <!-- BEGIN #top-nav -->
    <div id="top-nav" class="top-nav">
        <!-- BEGIN container -->
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-hover">
                        <a href="/en/" data-bs-toggle="dropdown">
                            <img src="/assets/img/flag/flag-english.png"
                                 class="flag-img"
                                 alt="" /> English <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/en/" class="dropdown-item">
                                <img src="/assets/img/flag/flag-english.png"
                                     class="flag-img" alt="" /> English</a>
                            </li>
                            <li><a href="/el/" class="dropdown-item">
                                <img src="/assets/img/flag/flag-greek.png"
                                     class="flag-img" alt="" /> Ελληνικά</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-end">
                    <li>
                    <li><a href="#">Τ: 2310 935176</a></li>
                    <li><a href="#">F: 2310 905132</a></li>
                    <li>
                        <a href="mailto:info@dnm.gr">
                            <i class="fas fa-email-f f-s-14"></i> info@dnm.gr
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END container -->
    </div>
    <!-- END #top-nav -->
