<!-- START TOP BAR -->
<div id="topbar">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="topbar-left" class="hidden-phone">
                    <div id="text-2" class="widget-1 widget-first widget widget_text">
                        <div class="textwidget">
                            Τ: +30 2310 935176 | F: +30 2310 905132 | E:
                            <a href="mailto:info@dnm.gr">info@dnm.gr</a>
                        </div>
                    </div>
                </div>
                <div id="topbar-right">
                    <div id="icl_lang_sel_widget-2"
                         class="widget-1 widget-first widget widget_icl_lang_sel_widget">
                            <a href="/en/{{ page.url }}"
                               class="js-wpml-ls-item-toggle wpml-ls-item-toggle lang_sel_sel icl-en">
                                <img
                                    class="wpml-ls-flag iclflag"
                                    src="/assets/images/flags/en.png"
                                    alt="en" title="English">
                                <span class="wpml-ls-native icl_lang_sel_native">
                                    English
                                </span>
                            </a>
                            &nbsp;&nbsp;
                            <a href="/el/{{ page.url }}"
                               class="js-wpml-ls-item-toggle wpml-ls-item-toggle lang_sel_sel icl-en">
                                <img
                                    class="wpml-ls-flag iclflag"
                                    src="/assets/images/flags/el.png"
                                    alt="el" title="Ελληνικα">
                                <span class="wpml-ls-native icl_lang_sel_native">
                                    Ελληνικα
                                </span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP BAR -->
