---
layout: default
language: en
language_code: en_US
filter: nylon
---

{% assign data = site.products  %}

<div id="primary" class="sidebar-left">
    <div class="container group">
        <div class="row">

            <!-- START CONTENT -->
            <div id="content-shop" class="span9 content group"><!-- START PAGE META -->
                <div id="page-meta" class="group">
                    <h1 class="page-title">
                        {{ page.filter | capitalize }}
                    </h1>
                </div>
                <!-- END PAGE META -->

                <ul class="products row">
                    {% for product in data %}
                    <li class="grid with-hover add-hover open-on-mobile span2 first post-95 product type-product status-publish has-post-thumbnail product_cat-49 product_cat-nylon product_cat-85 shipping-taxable product-type-simple product-cat-nylon instock cms-nav-sub-section">
                        <div class="product-wrapper">
                            <a href="/{{ page.language }}/zippers/{{ page.filter }}/{{ product.name_en | slugify }}"
                               class="thumb">
                                <span class="face">
                                    <img width="150"
                                         height="150"
                                         src="{{ product.image_150 }}"
                                         class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                         alt="" />
                                </span>
                            </a>
                            <h3>
                                {{ product.name_en }}
                            </h3>
                            <div class="grid-add-to-cart">
                                <a href="/{{ page.language }}/zippers/{{ page.filter }}/{{ product.name_en | slugify }}"
                                   rel="nofollow"
                                   data-product_id="95"
                                   data-quantity="1"
                                   data-product_sku=""
                                   class="button product_type_simple">
                                    More
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- START SIDEBAR -->
            <div id="sidebar-shop-sidebar" class="span3 sidebar group">
                <div id="woocommerce_product_categories-2"
                     class="widget-1 widget-first widget woocommerce widget_product_categories">
                    <h3>
                        Κατηγορίες Προϊόντων
                    </h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-49 cat-parent current-cat-parent">
                            <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/">
                                Φερμουάρ
                            </a> <span class="count">(60)</span>
                            <ul class='children'>
                                <li class="cat-item cat-item-50 current-cat cat-parent">
                                    <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/nylon/">
                                        Nylon
                                    </a> <span class="count">(19)</span>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-85">
                                            <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/nylon/%ce%bd%ce%bf3/">
                                                Νο3
                                            </a> <span class="count">(7)</span>
                                        </li>
                                        <li class="cat-item cat-item-86">
                                            <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/nylon/%ce%bd%ce%bf5/">
                                                Νο5
                                            </a> <span class="count">(12)</span>
                                        </li>
                                        <li class="cat-item cat-item-87">
                                            <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/nylon/%ce%bd%ce%bf10/">
                                                Νο10
                                            </a> <span class="count">(0)</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-51">
                                    <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/%ce%ba%ce%bf%ce%ba%ce%ba%ce%ac%ce%bb%ce%b9%ce%bd%ce%b1/">
                                        Κοκκάλινα
                                    </a> <span class="count">(10)</span>
                                </li>
                                <li class="cat-item cat-item-52">
                                    <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/%ce%bc%ce%b5%cf%84%ce%b1%ce%bb%ce%bb%ce%b9%ce%ba%ce%ac/">
                                        Μεταλλικά
                                    </a> <span class="count">(21)</span>
                                </li>
                                <li class="cat-item cat-item-53">
                                    <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/%ce%b5%ce%b9%ce%b4%ce%b9%ce%ba%ce%bf%ce%af_%cf%84%cf%8d%cf%80%ce%bf%ce%b9/">
                                        Ειδικοί Τύποι
                                    </a> <span class="count">(8)</span>
                                </li>
                                <li class="cat-item cat-item-160">
                                    <a href="https://www.dnm.gr/product-category/%cf%86%ce%b5%cf%81%ce%bc%ce%bf%cf%85%ce%ac%cf%81/%cf%84%ce%b1%ce%b9%ce%bd%ce%b9%ce%b5%cf%82-%ce%bc%ce%b5%cf%84%cf%81%ce%bf%cf%85/">
                                        Ταινίες Μέτρου
                                    </a> <span class="count">(2)</span>
                                </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-54">
                            <a href="https://www.dnm.gr/product-category/%ce%bf%ce%b4%ce%b7%ce%b3%ce%bf%ce%af/">
                                Οδηγοί
                            </a> <span class="count">(139)</span>
                        </li>

                        {% for product in data %}
                        <li class="cat-item cat-item-54">
                            <a href="/{{ page.language }}/{{ product.name_en }}/">
                                {{ product.title_en }}
                            </a> <span class="count">({{ product.size }})</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
</div>
