p, li, address, dd, blockquote, td, th, a,
body, h1, h2, h3, h4, h5, h6, p, dl, ul, ol {
    color: #302E2E;
    font-family: 'Noto Sans', serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.8em;
}

.header {
    height: 141px;
    background-image: url(/assets/img/header.jpg);
}

.header .header-logo img {
    padding-top: 30px;
    max-height: 150px;
    max-width: 400px;
}

#content {
    background-image: url(/assets/img/background1920_890.jpg);
}

.footer-copyright {
    font-size: 13px;
    color: #656464;
    font-style: normal;
    font-weight: 400;
    border-color: #ffe88c;
    background: #ffe88c;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}
