<!DOCTYPE html>
<html lang="{{ page.language }}">
{% include head.html %}

<body>
<!-- BEGIN #page-container -->
<div id="page-container" class="fade show">
    {% include top_nav.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</div>
<!-- END #page-container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/assets/js/e-commerce/vendor.min.js"></script>
<script src="/assets/js/e-commerce/app.min.js"></script>
<script src="/assets/js/js.js"></script>

</body>
</html>
