<!DOCTYPE html>

<html lang="{{ page.language }}">

{% include head.html %}

<!-- START BODY -->
<body class="home page-template page-template-home page-template-home-php page page-id-46 no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

    <!-- START WRAPPER -->
    <div id="wrapper" class="container group">
        <div id="header" class="group margin-bottom">
            {% include topbar.html %}

            <div id="header-container" class="header_skin1 container">
                <!-- START LOGO -->
                <div id="logo">
                    <a id="logo-img"
                       href="/{{ page.language }}/"
                       title="DNM">
                        <img src="/assets/img/logo-2f.png"
                             data-at2x="/assets/img/logo-342x197.png"
                             title="DNM"
                             alt="DNM"
                             width="450"
                             height="141"/>
                    </a>

                </div>
                <!-- END LOGO -->

                <!-- START HEADER RIGHT CONTENT -->
                <div id="header-right-content">
                    <!-- START HEADER SIDEBAR -->
                    <div id="header-sidebar" class="hidden-phone">
                        <div id="text_icl-2"
                             class="widget-1 widget-first widget widget_text_icl">
                        </div>
                    </div>
                    <!-- END HEADER SIDEBAR -->
                    {% include nav.html %}
                </div>
                <!-- END HEADER RIGHT CONTENT -->
            </div>
        </div>

        {{ content }}
        <!-- START COPYRIGHT -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="centered">
                        <p>
                            {{ site.data[page.language].copyright }} | Copyright
                            <a href="/{{ page.language }}/">
                                <strong>DNM</strong>
                            </a> &copy; 2014-present
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END COPYRIGHT -->


    </div>
    <!-- END WRAPPER -->
</div>
<!-- END BG SHADOW -->
<img src="/assets/img/background1920_890.jpg" id="fsb_image" alt=""/>
{% include footer-js.html %}
</body>
<!-- END BODY -->
</html>
