---
layout: default
---

{% assign categoryPosts = site.posts | where: "language", page.language %}
{% assign categoryProducts = categoryPosts | where: "tags", page.tag %}
{% assign categoryProducts = categoryProducts | sort: "name" %}
{% assign conditional = "item.language == " | append: page.language %}
{% assign categories = site.categories | sort | where_exp: "item", conditional %}

{% assign tags = '' %}
{% for product in categoryProducts %}
    {% for productTags in product.tags %}
        {% assign tags = tags | append: productTags | append: ',' %}
    {% endfor %}
{% endfor %}
{% assign tags = tags | split: ',' | uniq %}

        <!-- BEGIN search-results -->
        <div id="search-results" class="section-container">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN search-container -->
                <div class="search-container">
                    {% include categories.html %}
                    <!-- BEGIN search-content -->
                    <div class="search-content">
                        <!-- BEGIN search-toolbar -->
                        <div class="search-toolbar">
                            <!-- BEGIN row -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>
                                        {% for tag in tags %}
                                        <a href="/{{ page.language }}/{{ tag }}"
                                           class="btn btn-warning btn-sm">
                                            {{ site.data.translations[page.language][tag] }}
                                        </a>
                                        {% endfor %}
                                    </h4>
                                </div>
                                <!-- END col-6 -->
                                <!-- BEGIN col-6 -->
                                <div class="col-lg-6 text-end">
                                    {{ categoryProducts.size }} results
                                </div>
                                <!-- END col-6 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END search-toolbar -->
                        <!-- BEGIN search-item-container -->
                        <div class="search-item-container">
                            {% for product in categoryProducts %}
                            {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
                            {% if modulo == '1' %}
                            <!-- BEGIN item-row -->
                            <div class="item-row">
                            {% endif %}
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="{{ product.url }}"
                                       class="item-image">
                                        <img src="{{ product.image_main }}"
                                             alt="{{ product.name }}" />
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="{{ product.url }}">
                                                {{ product.name }}
                                            </a>
                                        </h4>
                                        <p class="item-desc"></p>
                                        <div class="item-price"></div>
                                        <div class="item-discount-price"></div>
                                    </div>
                                </div>
                                <!-- END item -->
                            {% if modulo == '0' or forloop.last %}
                            </div>
                            {% endif %}
                            {% endfor %}
                            <!-- END item-row -->
                        </div>
                        <!-- END search-item-container -->
                    </div>
                    <!-- END search-content -->
                </div>
                <!-- END search-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END search-results -->
