---
layout: default
---
            <!-- START PRIMARY -->
            <div id="primary" class="sidebar-no">
                <div class="container group">
                    <div class="row">
                        <!-- START CONTENT -->
                        <div id="content-home" class="span12 content group">
                            <div id="post-46"
                                 class="group post-46 page type-page status-publish hentry">
                                <div class='ss2-align'>
                                    <script type="text/javascript">
                                        window['nextend-smart-slider-2-onresize'] = [];
                                    </script>

                                    <div id="nextend-smart-slider-2"
                                         class="nextend-slider-fadeload nextend-desktop "
                                         style="font-size: 12px;"
                                         data-allfontsize="12"
                                         data-desktopfontsize="12"
                                         data-tabletfontsize="16"
                                         data-phonefontsize="20">
                                        <div class="smart-slider-border1" style="">
                                            <div class="smart-slider-border2">
                                                <div class="nextend-flux">
                                                    <img src="/assets/img/Home_banner.jpg"
                                                         data-desktop="assets/img/Home_banner.jpg"
                                                         class="nextend-slide-bg"
                                                         alt=""/>
                                                </div>
                                                <div class="smart-slider-canvas smart-slider-slide-active smart-slider-bg-colored"
                                                     style="">
                                                    <div class="smart-slider-canvas-inner">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script type="text/javascript">
                                        njQuery(document).ready(function () {
                                            njQuery('#nextend-smart-slider-2').smartslider({
                                                "translate3d": 1,
                                                "playfirstlayer": 0,
                                                "mainafterout": 0,
                                                "inaftermain": 1,
                                                "fadeonscroll": 0,
                                                "autoplay": 1,
                                                "autoplayConfig": {
                                                    "duration": 8000,
                                                    "counter": 0,
                                                    "autoplayToSlide": 0,
                                                    "stopautoplay": {
                                                        "click": 1,
                                                        "mouseenter": 1,
                                                        "slideplaying": 1
                                                    },
                                                    "resumeautoplay": {
                                                        "mouseleave": 0,
                                                        "slideplayed": 1,
                                                        "slidechanged": 0
                                                    }
                                                },
                                                "responsive": {
                                                    "downscale": 1,
                                                    "upscale": 0,
                                                    "maxwidth": 3000,
                                                    "basedon": "combined",
                                                    "screenwidth": {
                                                        "tablet": 1024,
                                                        "phone": 640
                                                    },
                                                    "ratios": [1, 1, 0.7, 0.5]
                                                },
                                                "controls": {
                                                    "scroll": 0,
                                                    "touch": "horizontal",
                                                    "keyboard": 0
                                                },
                                                "blockrightclick": 0,
                                                "lazyload": 0,
                                                "lazyloadneighbor": 0,
                                                "randomize": 0,
                                                "type": "ssSimpleSlider",
                                                "animation": ["horizontal"],
                                                "animationSettings": {
                                                    "duration": 800,
                                                    "delay": 0,
                                                    "easing": "easeInOutQuad",
                                                    "parallax": 1
                                                },
                                                "flux": [1, ["bars"]],
                                                "touchanimation": "horizontal"
                                            });
                                        });
                                    </script>
                                    <div style="clear: both;"></div>
                                </div>
                                <p style="text-align: justify;">
                                    {{ site.data[page.language].content_index_1 }}
                                </p>
                                <p style="text-align: justify;">
                                    {{ site.data[page.language].content_index_2 }}
                                </p>
                                <p style="text-align: justify;">
                                    {{ site.data[page.language].content_index_3 }}
                                </p>
                            </div>
                        </div>
                        <!-- END CONTENT -->

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
