---
layout: default
---
    <!-- BEGIN #promotions -->
    <div id="content" class="section-container">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row gx-2">
                <!-- BEGIN promotion -->
                <div class="promotion">
                    <div class="promotion-image">
                        <img src="/assets/img/Home_banner.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <!-- END promotion -->
            </div>
            <!-- END row -->
        </div>

        <div class="container">
            <!-- BEGIN row -->
            <div class="row gx-2">
                {{ site.data[page.language].content_index_1 }}
                <br>
                <br>
                {{ site.data[page.language].content_index_2 }}
                <br>
                <br>
                {{ site.data[page.language].content_index_3 }}
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #promotions -->
