---
layout: default
---

        <!-- BEGIN search-results -->
        <div id="search-results" class="section-container">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN search-container -->
                <div class="search-container">
                    {% include categories.html %}
                    <!-- BEGIN search-content -->
                    <div class="search-content">
                        <!-- BEGIN search-item-container -->
                        <div class="search-item-container">
                            <!-- BEGIN product -->
                            <div class="product">
                                <!-- BEGIN product-detail -->
                                <div class="product-detail">
                                    <!-- BEGIN product-main-image -->
                                    <div class="product-row"
                                         data-id="main-image">
                                        <img src="/assets/img/velcro_01.webp"
                                             alt="" />
                                    </div>
                                    <!-- END product-main-image -->
                                </div>
                                <!-- BEGIN product-detail -->
                                <div class="product-detail">
                                    <!-- BEGIN product-image -->
                                    <div class="product-row">
                                        <!-- BEGIN product-main-image -->
                                        <div class="product-main-image"
                                             data-id="second-image">
                                            <img src="/assets/img/velcro_02.webp"
                                                 alt="" />
                                        </div>
                                        <!-- END product-main-image -->
                                    </div>
                                    <!-- END product-image -->
                                </div>
                                <!-- END product-detail -->
                            </div>
                            <!-- END product -->
                        </div>
                        <!-- END search-item-container -->
                    </div>
                    <!-- END search-content -->
                </div>
                <!-- END search-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END search-results -->
